nav {
  background-color: #4D5D6C;
  color: #CCD0CD;
  width: 100%;
  padding: 15px;
}

label {
  font-size: 24px;
}

a {
  background-color: #3CBD6C;
  color: white;
  text-decoration: none;

  /* center position */
  margin-top: -5px;
  margin-right: 20px;
  padding: 10px;

  /* Display from right side*/
  float: right;
}

a:hover{
  background-color: #4DCE7D;
}

a:visited {
  color: white;
}
